<%- include('partials/header')%>
<section class="main">
  <div class="main-container">
    <h1 class="com-title">Welcome to Project Mindstep's Community Updates and News</h1>
    <p class="com-subtext">Find the latest updates here, including new chapters, website changes, series plans, and upcoming contests.</p>
    <div class="com-update-container">
      <% if (updates.length > 0) { %>
      <% updates.forEach(update => { %>
      <div class="com-update-card">
        <div class="com-update-content">
          <img src="<%= update.image %>" alt="Community Update Image" class="com-img">
          <div class="com-update-info">
            <h2 class="com-subtitle-2"><%= update.title %></h2>
            <p><%= update.short_content %></p>
            <a href="/update_news?id=<%= update.s_no %>" class="com-link">Read More <i class="ri-arrow-right-s-fill"></i></a>
          </div>
        </div>
        <div class="com-update-subcontent">
          <span class="com-update-time">Posted on <%= new Date(update.created_at).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></span>
          <div class="com-actions">
            <div class="like-btn-container <%= update.userHasLiked ? 'liked' : '' %>" data-update-id="<%= update.s_no %>">
              <span class="like-btn"><i class="fa-solid fa-thumbs-up"></i></span>
              <span class="likes-count"><%= update.likes %></span>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% } else { %>
      <div class="com-default-message">
        <p>No community posts yet.</p>
      </div>
      <% } %>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
<script src="/js/update.js"></script>
</body>
</html>